<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
<section>
    <div class="card ms-4 me-4" th:if="${contact}">
        <div class="card-body">
            <div class="container text-center">
                <!-- Profile Picture -->
                <img src="" th:src="@{'/images/' + ${contact.imageUrl}}" alt="profile photo" class="profile-picture me-2" style="width: 150px; height: 150px;" />

                <!-- Name and Nick Name -->
                <h4>
                    <span th:text="${contact.name}"></span>
                    <span th:text="'(' + ${contact.nickName} + ')'"></span>
                </h4>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Field</th>
                            <th scope="col">Values</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">Id</td>
                            <td scope="col"><span th:text="${contact.cId}"></span></td>
                        </tr>
                        <tr>
                            <td scope="row">Email</td>
                            <td scope="col"><span th:text="${contact.email}"></span></td>
                        </tr>
                        <tr>
                            <td scope="row">Phone</td>
                            <td scope="col"><span th:text="${contact.phone}"></span></td>
                        </tr>
                        <tr>
                            <td scope="row">Work</td>
                            <td scope="col"><span th:text="${contact.work}"></span></td>
                        </tr>
                        <tr>
                            <td scope="row">Description</td>
                            <td scope="col"><span th:utext="${contact.description}"></span></td>
                        </tr>
                    </tbody>
                </table>

                <!-- Description -->
<!--                <div class="description">-->
<!--                    <th:block th:utext="${contact.description}"></th:block>-->
<!--                </div>-->

                <!-- Actions Buttons -->
                <div class="container d-flex justify-content-center">
                    <form th:action="@{'/user/update/' + ${contact.cId}}" method="post">
                        <button type="submit" class="btn btn-primary me-3"><i class="fa-solid fa-pencil"></i> Edit</button>
<!--                        <button type="submit" class="btn btn-primary btn-sm me-1"><i class="fa-solid fa-pencil"></i></button>-->
                    </form>
                    <button th:onclick="|deleteContact(${contact.cId})|" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Delete</button>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-center bg-danger text-white p-3" th:unless="${contact}">You don't have access to this contact</h2>
</section>
</body>
</html>